{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/reset.css' %}">

    {% block extbasecss %}
    {% endblock %}
</head>
<body>

{% block body %}

{% endblock %}

{#<scirpt src="{% static 'base/js/jquery.min.js' %}"></scirpt>#}
{#<scirpt src="{% static 'base/js/jquery.js' %}"></scirpt>#}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="{% static 'base/js/base.js' %}"></script>
<scirpt src="{% static 'base/js/bootstrap.min.js' %}"></scirpt>
{% block extbasejs %}
{% endblock %}
</body>
</html>