{% extends 'base/base.html' %}
{% load static %}

{#填坑css#}
{% block extbasecss %}
    <link rel="stylesheet" href="{% static 'base/css/base_h_f.css' %}">
{#    再挖一个css坑#}
    {% block extcss %}
    {% endblock %}
{% endblock %}

{#填坑js#}
{% block extbasejs %}
    <script src="{% static 'base/js/base_h_f.js' %}"></script>
{#    再挖一个js坑#}
    {% block extjs %}

    {% endblock %}
{% endblock %}

{#填坑body#}
{% block body %}

    {% block header %}
        <header>爱鲜蜂</header>
    {% endblock %}

{#    挖坑中间#}
    {% block content %}

    {% endblock %}

    {% block footer %}
        <footer>
            <a href="{% url 'axf:home' %}">
                <dl class="home">
                    <dt><span></span></dt>
                    <dd>首页</dd>
                </dl>
            </a>
            <a href="{% url 'axf:market' %}">
                <dl class="market">
                    <dt><span></span></dt>
                    <dd>购物超市</dd>
                </dl>
            </a>
            <a href="{% url 'axf:cart' %}">
                <dl class="cart">
                    <dt><span></span></dt>
                    <dd>购物车</dd>
                </dl>
            </a>
            <a href="{% url 'axf:mine' %}">
                <dl class="mine">
                    <dt><span></span></dt>
                    <dd>我的</dd>
                </dl>
            </a>
        </footer>
    {% endblock %}
{% endblock %}