{% extends 'base/base_h_f.html' %}
{% load static %}

{% block title %}
    爱鲜蜂 | 闪购超市
{% endblock %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'market/css/market.css' %}">
{% endblock %}

{% block extjs %}
    <script src="{% static 'market/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'market/js/market.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="market">
{#      侧边栏(分类)#}
        <div class="type-slider">
            <ul>
                {% for foodtype in foodtypes %}
                <li class="type-item">
                    <a href="{% url 'cls:market' 0 1 %}">
                        <span></span>
                        {{ foodtype.typename }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

{#      顶部(子类、排序)#}
        <nav>
            <ul>
                <li id="category-bt">
                    <span>
                        全部类型
                        <i class="glyphicon glyphicon-triangle-top"></i>
                    </span>
                </li>
                <li id="sort-bt">
                    <span>
                        综合排序
                        <i class="glyphicon glyphicon-triangle-top "></i>
                    </span>
                </li>
            </ul>
        </nav>

{#      主体内容#}
        <div class="main-content">
{#            商品信息#}
            <div class="content-wrapper">
                <ul>
                    {% for goods in goods_list %}
                    <li>
                        <a href="#">
                            <img class="goods-img" src="{{ goods.productimg }}" alt="">
                            <div class="goods-info">
                                <p class="name">
                                    {{ goods.productlongname }}
                                </p>
                                <p class="detailtag">
                                    {% if goods.isxf %}
                                        <span class="xf">精选</span>
                                    {% endif %}
                                    销量: {{ goods.productnum }}
                                </p>
                                <p class="specifics">
                                    {{ goods.specifics }}
                                </p>
                                <p class="price">
                                    <span class="now-price">{{ goods.price }}</span>
                                    <span class="market-price">{{ goods.marketprice }}</span>
                                </p>
                            </div>
                        </a>

                        <div class="bt-wrapper">
                            <span class="glyphicon glyphicon-minus" goodsid="{{ goods.id }}"></span>
                            <span class="num">
                                {% for cart in carts %}
                                    {% if cart.goods.id == goods.id %}
                                        {{ cart.number }}
                                    {% endif %}
                                {% endfor %}
                            </span>
                            <span class="glyphicon glyphicon-plus" goodsid="{{ goods.id }}"></span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

{#            子类#}
            <div class="bounce-view category-view">
                <div class="bounce-wrapper">
                    {% for childtype in childtypes %}
                        <a href="{% url 'axf:market' childtype.childid 1 %}">
                            {{ childtype.childname }}
                        </a>
                    {% endfor %}
                </div>
            </div>

{#            排序#}
            <div class="bounce-view sort-view">
                <div class="bounce-wrapper">
                    <a href="{% url 'axf:market' childcid 1 %}">综合排序</a>
                    <a href="{% url 'axf:market' childcid 2 %}">销量排序</a>
                    <a href="{% url 'axf:market' childcid 3 %}">价格最低</a>
                    <a href="{% url 'axf:market' childcid 4 %}">价格最高</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}